<style type="text/css">
    /*@#include#(style.css)*/
</style>

<script id="${{{qid}}}_vertex-shader" type="notjs">
  // an attribute will receive data from a buffer
  attribute vec2 a_position;
  attribute vec3 a_color;

  uniform mat3 u_projectionMatrix;
  uniform mat3 u_modelMatrix;

  varying lowp vec4 v_color;

  void main() {
    v_color = vec4(a_color, 1);
    // multiply the position by the matrix
    gl_Position = vec4(
      (u_projectionMatrix * u_modelMatrix * vec3(a_position.x, a_position.y,
        1)).xy, 0, 1
    );
  }
</script>

<script id="${{{qid}}}_fragment-shader" type="notjs">
  varying lowp vec4 v_color;

  lowp vec4 h_color = vec4(0.5, 0.0, 0.45, 1);
  lowp vec4 b_color = vec4(0.0, 0.7, 0.25, 0.6);

  uniform lowp float u_highlight;

  void main() {
    // gl_FragColor is a special variable
    gl_FragColor = u_highlight * h_color +
                  (1.0 - u_highlight) * vec4(v_color.xyz, 1);
  }
</script>

<script id="${{{qid}}}_outline-vertex-shader" type="notjs">
  attribute vec2 a_position;

  uniform mat3 u_projectionMatrix;
  uniform mat3 u_modelMatrix;

  void main() {
    gl_Position = vec4((
      u_projectionMatrix * (
        u_modelMatrix * (vec3(a_position.xy, 1) * 1.05) +
        u_modelMatrix * (vec3(1.0, 1.4, 1) * (1.0 - 1.05))
      )
    ).xy, 0, 1);
  }
</script>

<script id="${{{qid}}}_outline-fragment-shader" type="notjs">
  uniform mediump vec3 u_color;

  void main() {
    gl_FragColor = vec4(0.0, 0.0, 0.0, 1.0);
  }
</script>

<script id="${{{qid}}}_grid-vertex-shader" type="notjs">
  attribute vec2 a_position;

  void main() {
    gl_Position = vec4(a_position.xy, 0, 1);
  }
</script>

<script id="${{{qid}}}_grid-fragment-shader" type="notjs">
  uniform mediump vec2 u_cellSize;
  uniform mediump vec2 u_offset;

  const mediump float eps = 0.065;

  void main() {
    mediump float rem_x = fract((gl_FragCoord.x - u_offset.x) / u_cellSize.x);
    mediump float rem_y = fract((gl_FragCoord.y - u_offset.y) / u_cellSize.y);

    rem_x += max(sign(rem_x - 0.5), 0.0) * (1.0 - 2.0 * rem_x);
    rem_y += max(sign(rem_y - 0.5), 0.0) * (1.0 - 2.0 * rem_y);

    gl_FragColor = mix(vec4(0, 0, 0, 1), vec4(1, 1, 1, 1),
                      min(rem_y / eps, rem_x / eps));
  }
</script>

<div id="${{{qid}}}_div">
  <template id="${{{qid}}}_transformTemplate">
    <div class="transform draggable" draggable="true">
      <header class="transform-name"></header>
      <input class="transform-amount" step="any" value="0" type="number" />
    </div>
  </template>
  <table id="container">
    <tr class="taskHeader">
      <td><h3>Transformations Game</h3></td>
    </tr>
    <tr>
      <td>
        <div class="canvasContainer">
          <canvas id="${{{qid}}}_canvas"></canvas>
        </div>
      </td>
      <td id="${{{qid}}}_availableTransforms" class="availableTransforms">

      </td>
    </tr>
    <tr>
      <td>
        <div id="${{{qid}}}_dropZone" class="dropZone">
        </div>
      </td>
      <td>
        <div class="matrixZone">
          <table class="matrix">
              <tr><td class="lbrak">&nbsp;</td>
                  <td> <table class="matrix">
                <tr><td>1</td> <td>0</td> <td>0</td></tr>
                <tr><td>0</td> <td>1</td> <td>0</td></tr>
                <tr><td>0</td> <td>0</td> <td>1</td></tr>
                </table> </td>
                <td class="rbrak">&nbsp;</td>
              </tr>
          </table>
        </div>
      </td>
    </tr>
  </table>
</div>
