canvas {
  margin: 0;
  padding: 0;
  border: 0;
  min-width: 480px;
  min-height: 320px;
}

.draggable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

.transform {
  border: 1px solid #666666;
  border-radius: 4px;
  background-color: #bbc;
  cursor: move;
  display: inline-block;
  padding: 3px;
  max-width: 98px;
  max-height: 98px;
}

.transform header {
  color: #000;
}

.transform input {
  width: 100%;
  padding: 5px;
  border: 1px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;   
}

.transform.over {
  border: 1.5px dashed #000;
}

.availableTransforms {
  border: 1.5px dashed #000;
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 320px;
  width: 100px;
}

.dropZone {
  min-height: 100px;
  border: 1.5px dashed #000;
  flex-direction: row;
  display: flex;
}

.dropZone div {
  float: left;
}

.matrixZone {
  height: 100%;
  border: 1.5px;
  flex-direction: row;
  display: flex;
}

#container {
  border-spacing: 1px;
  border-collapse: separate;
}

td {
  border: 1px;
  margin: 1px;
  padding: 1px;
}

table.matrix {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

table.matrix td.lbrak { width: 0.8ex;
  font-size: 50%;
  border-top: solid 0.25ex black;
  border-bottom: solid 0.25ex black;
  border-left: solid 0.5ex black;
  border-right: none;
}

table.matrix td.rbrak { width: 0.8ex; font-size: 50%;
  border-top: solid 0.25ex black;
  border-bottom: solid 0.25ex black;
  border-right: solid 0.5ex black;
  border-left: none;
}